
*{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  /*max-width:480px;
  max-height:720px;*/
  width:100%;
  height:100%;
  margin:0 auto;
}

/*.view-left {
  border-right:1px solid #b2b2b2;
}*/


@media (min-width: 665px) {
  .view-main .navbar{display:none;}
  .navbar-through .with-subnavbar .page-content {padding-top:22px}
}


/*.view-left {
  border-right: 1px solid #b2b2b2;
}*/
/* This will fix flicker navbar in left panel view */
.panel-left .page-content {
  padding: 0;
}
.panel-left .page {
  margin-top: 44px;
  padding-bottom: 44px;

}
.panel-left .navbar {
  position: relative;
  margin-bottom: -44px;
}

.page {
  padding: 0px 0px 0px 16px;
  background-color:#4e3;
}

#chordDiv {
  min-width:200px;
  min-height:200px;
  max-width:380px;
  border:solid 0px #999;
  margin:0px auto;
  padding:0 0;

  /*background-color:rgba(0,0,255,0.5);*/
}

.page {
  padding-left:0px;
}

.page-content {
  overflow-x:hidden;
  /* background-color:#592680; */
}

.page-content .buttons-row {
  margin:0 40px;
}

.item-divider {
  text-align: right;
}

.list-block {
  margin:0 0;
}

.content-block {
  padding:0 0;
}

.center {
    font-size:36px;
    line-height:36px;
    text-align:center;
}

li.item-content {

    -ms-user-select:none;
    user-select:none;
    font-size: 18px;
    font-weight:450;
    line-height: 32px;
    height:32px;


}

li.item-content.selected
{
    background-color: rgb(222, 242, 222);
}

.layout-dark .item-divider
{
    padding:0 0;
    margin:0 0;
    padding-right:24px;
    text-align:right;
    color: #000;
    text-shadow:none;
    text-shadow: 2px 2px 6px #444;
    font-size: 48px;
    line-height: 48px;
    height:48px;
    font-weight:600;
    background-image: url(../img/debut_dark.png);
}
/* outer */
.popup-notes {
  margin:0 0;
  background:none;
  padding:0 0;
  padding-bottom:-20px;
}

/* middle */
/*.chord-wrap {
}*/

#strumDown, #strumUp {
  
}

#chordJump {
  width:100%;
  height:100%;
  padding:4px;
  
}

#chordJump li
{
    list-style: none;
    max-width:128px;
    min-height:32px;
    border:solid 1px #666;
    text-align:center;
    font-size:32px;
    font-weight: bold;
    line-height: 32px;
    margin:8px 10px;
    padding:12px 8px;
}


